.path-0 {
  animation: pathAnim-0 24s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 160.53333333333336,156.39999999999998 321.0666666666667,172.79999999999998 476,166 C 630.9333333333333,159.20000000000002 780.2666666666667,129.2 940,121 C 1099.7333333333333,112.8 1269.8666666666668,126.4 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 157.59999999999997,146.53333333333333 315.19999999999993,153.06666666666666 467,151 C 618.8000000000001,148.93333333333334 764.8000000000002,138.26666666666668 926,135 C 1087.1999999999998,131.73333333333332 1263.6,135.86666666666667 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 156.53333333333336,124 313.0666666666667,108 479,100 C 644.9333333333333,92 820.2666666666667,92 982,100 C 1143.7333333333333,108 1291.8666666666668,124 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 133.2,148.39999999999998 266.4,156.79999999999998 431,165 C 595.6,173.20000000000002 791.5999999999999,181.2 965,177 C 1138.4,172.8 1289.2,156.4 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,140 0,140 C 160.53333333333336,156.39999999999998 321.0666666666667,172.79999999999998 476,166 C 630.9333333333333,159.20000000000002 780.2666666666667,129.2 940,121 C 1099.7333333333333,112.8 1269.8666666666668,126.4 1440,140 C 1440,140 1440,700 1440,700 Z"
    );
  }
}
.path-1 {
  animation: pathAnim-1 24s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 145.46666666666664,287.6 290.9333333333333,295.2 451,306 C 611.0666666666667,316.8 785.7333333333333,330.8 953,327 C 1120.2666666666667,323.2 1280.1333333333332,301.6 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 125.33333333333331,309.6 250.66666666666663,339.2 411,330 C 571.3333333333334,320.8 766.6666666666667,272.79999999999995 944,258 C 1121.3333333333333,243.20000000000002 1280.6666666666665,261.6 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 115.86666666666667,303.4666666666667 231.73333333333335,326.93333333333334 403,325 C 574.2666666666667,323.06666666666666 800.9333333333334,295.73333333333335 983,284 C 1165.0666666666666,272.26666666666665 1302.5333333333333,276.1333333333333 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 149.06666666666666,253.73333333333335 298.1333333333333,227.46666666666667 468,236 C 637.8666666666667,244.53333333333333 828.5333333333333,287.8666666666667 994,301 C 1159.4666666666667,314.1333333333333 1299.7333333333333,297.06666666666666 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,280 0,280 C 145.46666666666664,287.6 290.9333333333333,295.2 451,306 C 611.0666666666667,316.8 785.7333333333333,330.8 953,327 C 1120.2666666666667,323.2 1280.1333333333332,301.6 1440,280 C 1440,280 1440,700 1440,700 Z"
    );
  }
}
.path-2 {
  animation: pathAnim-2 24s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 159.59999999999997,440.5333333333333 319.19999999999993,461.06666666666666 462,450 C 604.8000000000001,438.93333333333334 730.8,396.26666666666665 891,386 C 1051.2,375.73333333333335 1245.6,397.8666666666667 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 103.60000000000002,411.8666666666667 207.20000000000005,403.7333333333333 395,395 C 582.8,386.2666666666667 854.8,376.93333333333334 1043,381 C 1231.2,385.06666666666666 1335.6,402.5333333333333 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 109.33333333333331,390.6666666666667 218.66666666666663,361.33333333333337 396,375 C 573.3333333333334,388.66666666666663 818.6666666666667,445.3333333333333 1004,460 C 1189.3333333333333,474.6666666666667 1314.6666666666665,447.33333333333337 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 179.7333333333333,422 359.4666666666666,424 526,423 C 692.5333333333334,422 845.8666666666668,417.99999999999994 996,417 C 1146.1333333333332,416.00000000000006 1293.0666666666666,418 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,420 0,420 C 159.59999999999997,440.5333333333333 319.19999999999993,461.06666666666666 462,450 C 604.8000000000001,438.93333333333334 730.8,396.26666666666665 891,386 C 1051.2,375.73333333333335 1245.6,397.8666666666667 1440,420 C 1440,420 1440,700 1440,700 Z"
    );
  }
}
.path-3 {
  animation: pathAnim-3 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-3 {
  0% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 170.13333333333333,563.3333333333333 340.26666666666665,566.6666666666666 490,558 C 639.7333333333333,549.3333333333334 769.0666666666666,528.6666666666667 924,527 C 1078.9333333333334,525.3333333333333 1259.4666666666667,542.6666666666666 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 123.46666666666664,557.2 246.93333333333328,554.4 401,560 C 555.0666666666667,565.6 739.7333333333333,579.6 918,581 C 1096.2666666666667,582.4 1268.1333333333332,571.2 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 180,579.2 360,598.4 515,608 C 670,617.6 800,617.6 950,608 C 1100,598.4 1270,579.2 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 157.2,527.4666666666667 314.4,494.9333333333333 467,511 C 619.6,527.0666666666667 767.5999999999999,591.7333333333333 929,608 C 1090.4,624.2666666666667 1265.2,592.1333333333333 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 C 0,700 0,560 0,560 C 170.13333333333333,563.3333333333333 340.26666666666665,566.6666666666666 490,558 C 639.7333333333333,549.3333333333334 769.0666666666666,528.6666666666667 924,527 C 1078.9333333333334,525.3333333333333 1259.4666666666667,542.6666666666666 1440,560 C 1440,560 1440,700 1440,700 Z"
    );
  }
}
